/* global */
body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.pealkiri{
  font-family: 'Cute Font', cursive;
  font-size: 68px;
  text-align: center;
}

hr.line { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.line:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}
.text{
  font-family: 'Anton', sans-serif;
  color: #fff;
  margin-top: 20px; 
}
/* navbar */
.navbar{
  background-color: #fff;
}
/* hero */
.bgpic {
  background: url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
  height: 85vh;
  text-align: center;
  color: #007bff;
}
.hero img{
  margin-top: 100px;
}

/* Portfoolio */
.card{
  text-align: center;
  margin: 0 auto;
}
.portfoolio{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
/* minu kohta */
.info{
  text-align: center;
}

/* kontakt */
.kontakt{
  text-align: center;
}
.kontakt i{
  font-size: 50px;
}
/* footer */
.footer{
  background-color: rgb(233, 236, 239);
}
/* 4k */
@media only screen and (min-width: 2000px){
  .text{
    background-color: rgba(51, 102, 255, 0.2);
  }
}